*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #15638F;
    
}

img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card__content{
 }
.card{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    color:#000000;
    border-radius: 10px;
    width: 200px;
    height: 322px;
    background-color:#FFFFFF;
}
.card__title{
    margin-top:16px;
    margin-left:16px;
    width: 129px;
    height: 16.63px;
    left: 636px;
    top: 225.94px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
.card__text{
    margin:20px;
    width: 165px;
    height: 72.74px;
    left: 636px;
    top: 258.15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #000000;}
.card__btn{
    margin-top:20px;
    margin-left:20px;
    width: 98px;
    height: 27px;
    left: 636px;
    top: 346px;
    font-size: 10px;
    color:#ffffff;
    background: #2797B2;
    border-radius: 50px;
    border: 0px ;
}

